joblib==1.5.3
pandas==3.0.5
python-dotenv==1.2.3
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.1
sensor_msgs==5.9.3
sensor_msgs_py==5.9.3
service_msgs==2.4.5
shape_msgs==5.9.3
simulation_interfaces==2.1.0
six==1.17.0
sros2==0.16.6
statistics_msgs==2.4.5
std_msgs==5.9.3
std_srvs==5.9.3
stereo_msgs==5.9.3
teleop_twist_keyboard==2.4.1
tf2_geometry_msgs==0.45.9
tf2_kdl==0.45.9
tf2_msgs==0.45.9
tf2_py==0.45.9
tf2_ros_py==0.45.9
tf2_sensor_msgs==0.45.9
tf2_tools==0.45.9
theora_image_transport==6.2.6
threadpoolctl==3.6.0
topic_monitor==0.37.9
trajectory_msgs==5.9.3
turtlebot3_msgs==2.4.0
turtlesim_msgs==1.10.9
type_description_interfaces==2.4.5
unique_identifier_msgs==2.8.1
urllib3==2.7.0
vision_msgs==4.2.0
visualization_msgs==5.9.3
xacro==2.1.1
